/* Layout Principal */
.sidebar-bg { background-color: #252526; }
.bg-toolbar { background-color: #2d2d2d; }
.logo-area { height: 50px; background-color: #1e1e1e; }
.bg-editor-empty { background-color: #1e1e1e; }

/* Pestañas de Archivos (Superiores) */
.tab-item {
  background-color: #2d2d2d;
  color: #969696;
  font-size: 0.85rem;
  transition: all 0.2s;
  min-width: 120px;
  border-top: 2px solid transparent;
  user-select: none;
}

.tab-item:hover {
  background-color: #323233;
  color: #ccc;
}

.active-tab {
  background-color: #1e1e1e !important;
  color: white !important;
  border-top: 2px solid #007acc !important;
}

.close-icon {
  margin-left: 10px;
  padding: 0 4px;
  border-radius: 3px;
}

.close-icon:hover {
  background-color: #454545;
  color: #ff5f56 !important;
}

/* Pestañas de Diagnóstico (Inferiores) */
.nav-tabs { border-bottom: 1px solid #3e4451; }

.nav-tabs .nav-link {
  color: #888;
  border: none;
  border-radius: 0;
  font-size: 0.8rem;
  padding: 8px 20px;
}

.nav-tabs .nav-link.active {
  background-color: #1e1e1e !important;
  color: #007acc !important;
  border-bottom: 2px solid #007acc !important;
}

.bottom-area {
  background-color: #1e1e1e;
  height: 35%; /* O el tamaño que prefieras */
  display: flex;
  flex-direction: column;
}

.tab-content-wrapper {
  flex: 1;
  min-height: 0; /* Esto es vital para que los hijos flex funcionen */
  display: flex;
  flex-direction: column;
}