<div class="color-picker-card shadow-lg border border-secondary p-2 bg-dark">
    <div class="d-flex justify-content-between align-items-center mb-2">
    <small class="text-light fw-bold">Selector de Colores</small>
    <button class="btn-close btn-close-white" (click)="onClose()"></button>
    </div>
    
    <input type="color" class="form-control form-control-color w-100 mb-2" 
            [(ngModel)]="selectedHex" (change)="updateFormats()">

    <div class="format-list">
    <button (click)="selectColor(selectedHex)" class="btn btn-sm btn-outline-info w-100 mb-1">
        HEX: {{ selectedHex }}
    </button>
    <button (click)="selectColor(rgbFormat)" class="btn btn-sm btn-outline-warning w-100 mb-1">
        RGB: {{ rgbFormat }}
    </button>
    </div>
</div>